<div class = "panel panel-default">
	<div class = "panel-heading">
		<h4 class = "panel-title">
			<a class = "btn-block" data-toggle="collapse" href="#{{studentName}}">{{studentName}}</a>
		</h4>
	</div>
	<div id="{{studentName}}" class = "panel-collapse collapse">
		<div class = "panel-body">
			{{table|raw}}
		</div>
	</div>
</div>
