<!DOCTYPE html>
<html>
	<head>
	 <meta charset="UTF-8"> 
	 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			.thick {
					font-weight: bold;
			}
			body { padding-top: 80px }
		</style>
	</head>

	<body>
	{{navbar|raw}}
		<div class = "container">
			<div class = "row">
				<div class= "col-md-6">
					<div class = "panel panel-default">
						<div class = "panel-heading">Add Student Form</div>
						<div class = "panel-body">
							<form id ="mainform">
								<div class= "form-group">
									<label for = "Student_ID"> Student ID : </label>
									<input type="text" name="Student_ID" id = "Student_ID">
								</div>
								<div class= "form-group">
									<label for = "Fname"> First Name : </label>
									<input type="text" name="Fname" id = "Fname">
								</div>
								<div class= "form-group">
									<label for = "Lname"> Last Name : </label>
									<input type="text" name="Lname" id = "Lname">
								</div>
								<div class= "form-group">
									<label for = "Year_Level"> Year : </label>
									<input type="int" name="Year_Level" id = "Year_Level">
								</div>
								<button id = "submitButton">submit</button>
							</form>
							<span class = "thick" id= "student-span"></span>
						</div>
					</div>
				</div>
				<div class= "col-md-6">
					<div class = "panel panel-default">
						<div class = "panel-heading">
							Add Marker Form
						</div>
						<div class = "panel-body">
							<form id ="secondform">
								<div class= "form-group">
									<label for = "Marker_ID"> Marker ID : </label>
									<input type="text" name="Marker_ID" id = "Marker_ID">
								</div>
								<div class= "form-group">
									<label for = "Fname"> First Name : </label>
									<input type="text" name="Fname" id = "Fname">
								</div>
								<div class= "form-group">
									<label for = "Lname"> Last Name : </label>
									<input type="text" name="Lname" id = "Lname">
								</div>
								<br>
								<button id = "subButton">submit</button>
							</form>
							<span class = "thick" id= "marker-span"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript">
		$("#mainform").submit(function(){
			return false;
		});
		$("#submitButton").click(function(){
			var data = ($("#mainform").serialize());
			$.ajax({
				url: "http://community.dur.ac.uk/cs.seg04/cepTesting/Cameron/public/admin.php/Staff_makeStudent",
				type:"POST",
				data: data,
				complete: function(){
					console.log("Student request: complete");
				},
				success: function(resp){
					console.log("Student request: successful");
					console.log(resp);
					var js_resp = JSON.parse(resp);
					console.log("Student request: Success!");
					if("success" in js_resp){
						console.log("Student request: Proper Success!");
						$("#student-span").html(js_resp["success"]);
					}
					else if("error" in js_resp){
						console.log("Student request: Actually a failure");
						$("#student-span").html(js_resp["error"]);
					}
					else{
						console.log("Student request: Something horribly wrong with the PHP output");
					}
				},
				error: function(resp){
					console.log("Student request: Something went horribly wrong");
				}
			})
		});
		$("#secondform").submit(function(){
			return false;
		});
		$("#subButton").click(function(){
			var data = ($("#secondform").serialize());
			
			$.ajax({
				url: "http://community.dur.ac.uk/cs.seg04/cepTesting/Cameron/public/admin.php/Staff_makeMarker",
				type:"POST",
				data: data,
				complete: function(){
					console.log("Marker request: complete");
				},
				success: function(resp){
					console.log("marker request successful");
					var js_resp = JSON.parse(resp);
					console.log("marker request: Success!");
					if("success" in js_resp){
						console.log("marker request: Proper Success!");
						$("#marker-span").html(js_resp["success"]);
					}
					else if("error" in js_resp){
						console.log("marker request: Actually a failure");
						$("#marker-span").html(js_resp["error"]);
					}
					else{
						console.log("marker request: Something horribly wrong with the PHP output");
					}
				},
				error: function(resp){
					console.log("marker request: Something went horribly wrong");
				}
			})
		});
	</script>
	
	
</html>
