<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap.min.css">
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		<title>ODR Admin</title>
		<!-- jQuery library -->
		<script src="http://community.dur.ac.uk/cs.seg04/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		
		<style>
			body { padding-top: 80px }
			.alert-danger{
				color: #ffffff
			}
			.alert-success{
				color: #ffffff
			}
		</style>
	</head>
	
	<body>
	{{content|raw}}
	</body>
</html>
