<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap.min.css">
		<title>Home</title>
		<!-- jQuery library -->
		<script src="http://community.dur.ac.uk/cs.seg04/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		<style>
			body { padding-top: 80px }
		
.navbar-default {
  background-color: #3348ba;
  border-color: #1a2352;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a2352;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #1a2352;
}
.navbar-default .navbar-toggle {
  border-color: #1a2352;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a2352;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li >
a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li >
a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active >
a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active >
a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active >
a:focus {
    color: #ffffff;
    background-color: #1a2352;
  }
}			

		</style>
	</head>
	
	<body>
	{{content|raw}}
	<!-- Navigation bar -->
		<!--
		<div id="tab-custom" class = "container">
		-->
			<!--Comes from navbar.twig-->
			
			<!-- Main tab section here -->
			<!--
			<ul class ="nav nav-tabs" data-tabs="tabs">
				<li class="active navselector"><a data-toggle="tab" role="tab" href="#tab_adding">Adding</a></li>
				<li class="navselector"><a data-toggle="tab" role="tab" href="#tab_linking">Linking</a></li>
				<li class="navselector"><a data-toggle="tab" role="tab" href="#tab_printing">Printing</a></li>
			</ul>
			<div class = "tab-content">
				<div id="tab_adding" class="tab-pane fade in active">
					{{addingTab|raw}}
				</div>
				<div id="tab_linking" class="tab-pane fade">
					{{linkingTab|raw}}
				</div>
				<div id="tab_printing" class="tab-pane fade">
					{{printingTab|raw}}
				</div>
		</div>
		-->
	</body>
</html>
