<table class ="table text-center">
	<thead>
		<tr>
			<th class="text-center">Document</th>
			<th class="text-center">Submitted</th>
			<th class="text-center">Merged</th>
		</tr>
	</thead>
	<tbody>
		{$ for row in rows %}
			{{row|raw}}
		{% endfor %}
	</tbody>
</table>