<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
		<link rel="stylesheet" type="text/css" href="./css/print.css" media="print">
		<!-- Stylesheet for editing -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="./css/jquery.notebook.css">
		<!--Own styling-->
		<link rel="stylesheet" type="text/css" href="./css/forms.css">

		<!--Own JavaScript-->
		<script src="forms.js"></script>

		<!--Code for the Rich Text Editing of forms-->
		<script src="./public/js/jquery.notebook.js"></script>
		
	</head>
	
	<body>
	<!-- Navigation bar -->
		<div class = "container">
			<!--Comes from navbar.twig-->
			{{navbar|raw}}
			
			<div id= "alerts">
			</div>

		
		<!-- MAIN DOCUMENT STARTS HERE -->
			<div class="document-container">
				{{form|raw}}
			</div>
		</div>
	</body>
</html>
