<<<<<<< HEAD
<a class="mobile">MENU</a>


<div id="container">

    <div class="sidebar">
        <ul id="nav">
            {% for navitem in navobjects %}
            <li>
                {% if navitem.selected == true %}
                    <a class="selected" href={{ navitem.href }}>{{ navitem.text }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    </div>
=======
<nav class = "navbar navbar-inverse navbar-fixed-top">
	<div class = "container-fluid">
		<div class = "navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ODR</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="#mainPage">Students</a></li>
				<li><a href="index.php?route=history">History</a></li>
				<li class = "dropdown">
					<a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">
						Documents
						<span class = "caret"></span>
					</a>
					<ul class = "dropdown-menu">
					{% for form in forms %}
						<li><a href="index.php?route=select&typeId={{form.id}}">{{form.name}}</a></li>
					{% endfor %}

					</ul>
				</li>
			</ul>
			<ul class = "nav navbar-nav navbar-right">
				<li><a href="#">
					<span class="glyphicon glyphicon-log-out"></span>
					Sign out</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
>>>>>>> a14d206ebbdbfc6871135bd41a5a4c12d4fad09a
